################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EfCoreConsole/EfCoreConsole/bin/Debug/netcoreapp3.1
