################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EfCoreConsole/EfCoreConsole/bin/Debug/netcoreapp3.1
/EfCoreConsole/EfCoreConsole/obj/Debug/netcoreapp3.1/EfCoreConsole.pdb
/EfCoreConsole/EfCoreConsole/obj/Debug/netcoreapp3.1/EfCoreConsole.genruntimeconfig.cache
/EfCoreConsole/EfCoreConsole/obj/Debug/netcoreapp3.1/EfCoreConsole.exe
/EfCoreConsole/EfCoreConsole/obj/Debug/netcoreapp3.1/EfCoreConsole.dll
/EfCoreConsole/EfCoreConsole/obj/Debug/netcoreapp3.1/EfCoreConsole.csproj.FileListAbsolute.txt
/EfCoreConsole/EfCoreConsole/obj/Debug/netcoreapp3.1/EfCoreConsole.csproj.CoreCompileInputs.cache
/EfCoreConsole/EfCoreConsole/obj/Debug/netcoreapp3.1/EfCoreConsole.csproj.CopyComplete
*.v2
